/*DEFAULT STYLES*/
* {
	font-family: 'Times New Roman', Times, serif;
	max-width: 100vw;
}
body {
	background: #f1fbff;
}
.section-padding {
	padding: 50px 0;
}

/*STYLES FOR NAVBAR*/
.logo{
	height: 80px;
	margin-right: 5px;
}
.navbar-nav a {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 500;
}
.navbar-light .navbar-brand {
	color: #000;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
}
.navbar-light .navbar-nav .nav-link {
	color: #000;
}
.navbar h1{
	font-size: 20px;
}

/*STYLES FOR BOOKING*/
main{
	margin: 10%;
}
main h1{
    font-size: 40px;
	text-transform: uppercase;
	letter-spacing: 2px;
}


/*FOOTER*/
#footerLogo{
	height: 15vh;
}
footer{
	line-height: 20px;
}
footer a{
	color: white;
}
footer .row{
    margin: 0;
    padding: 0;
}
footer .row img{
	height: 10vh;
}

/*MEDIA QUERIES*/
/*Extra small*/
@media only screen and (max-width: 576px) {
	
	body{
		font-size: 14px;
	}
	.navbar-nav {
		text-align: center;
	}
	.logo{
		height: 50px;
	}
	.navbar h1{
		font-size: 14px;
	}
	#footerLogo{
		height: 10vh;
	}
	footer .row img{
		height: 5vh;
	}

}
/*Small devices*/
@media only screen and (min-width: 577px) and (max-width: 767px) {
	body{
		font-size: 14px;
	}
	.navbar-nav {
		text-align: center;
	}
	.logo{
		height: 50px;
	}
	#footerLogo{
		height: 10vh;
	}

}

/*Medium devices*/
@media only screen and (min-width: 768px) and (max-width: 991px) {

	#footerLogo{
		height: 10vh;
	}
	footer .row img{
		height: 5vh;
	}
}

